{% extends 'base.html' %}
{%    load static    %}
{% extends 'base.html' %}

{% block content %}
  <h1>Profile</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      {% if field.name in ['first_name', 'last_name', 'username', 'password'] %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
        </div>
      {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-warning">Save Changes</button>
  </form>
{% endblock %}