{% extends 'base.html' %}
{%    load static    %}
{%block content%}


<div class="my-form container p-5 my-5 rounded border border-warning">
    <form>
        <h2 class="text-center">Product Details </h2>
        <hr>

        <section>
            
              <div class="row p-5 " >

                <div class="card mb-3 w-100" >
                  <div class="row no-gutters">
                    <div class="col-md-4">

                      <img src="{%static 'img/7.jpg'%}" class="card-img" alt="...">
                    </div>

                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title" id="productName">{{product.pname }}</h5>
                        <hr>
                        <p class="card-text" id="description">Description: {{ product.desc }}</p>
                        <hr>
                        <p class="card-text">Current Price: <span id="price" class="bg-dark text-light rounded-circle p-2">{{ product.price }}</span></p>
                        <hr>


                        
                        <div class="d-flex justify-content-between">
                          <button type="submit" id="add-to-basket">Add to Basket</button>
                          <a href="{% url 'basket_view' %}" class="btn btn-primary">View basket</a>
                        </div>
                        </form>
                        
                          
                        </button>
                      </div> 
                    </div>
                  </div>
                </div>

              </div>
            
        </section>
    

    </form>

<script>
const addToBasketButton = document.getElementById('add-to-basket');

addToBasketButton.addEventListener('click', () => {
  const productName = '{{ product.name }}';
  const productPrice = '{{ product.price }}';

  const product = {
    name: productName,
    price: productPrice
  };

  let basket = JSON.parse(localStorage.getItem('basket')) ||[];

  basket.push(product);

  localStorage.setItem('basket', JSON.stringify(basket));

  $.ajax({
    type: 'POST',
    url: '{% url "basket_add" %}',
    data: {
      productid: '{{ product.id }}',
      productqty: $('#select option:selected').text(),
      csrfmiddlewaretoken: "{{csrf_token}}",
      action: 'post'
    },
    success: function (json) {
      console.log('Product added to basket.');
    },
    error: function (xhr, errmsg, err) {
      console.error('Error adding product to basket.');
    }
  });
});
</script>




{% endblock %}